@charset "utf-8";

html {
  -webkit-overflow-scrolling: touch;
}

body {
  padding:0;
  margin:0;
  // padding: $spacer * 4 0; 
}

.file-uploads {
  color: #ddd;
  line-height: 2;
  border: 1px solid #ccc;
  padding: 0 0.5em;
  cursor: pointer;
}

.thumb-pic {
  display: inline-block;
  height: 50px;
}
