@charset "utf-8";

@for $h from 1 through 6 {
  h#{$h} {
    margin-top: 0;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse !important;

  td,
  th {
    background-color: #fff;
    padding: 0.75rem;
    border-top: 1px solid #e9ecef;
    font-size: 0.8rem;
  }

  thead th {
    border-bottom: 2px solid #e9ecef;
    text-align: left;
  }
}
